<%= form_for(@feed) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_field :photo_url %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :shares %><br />
    <%= f.number_field :shares %>
  </div>
  <div class="field">
    <%= f.label :likes %><br />
    <%= f.number_field :likes %>
  </div>
  <div class="field">
    <%= f.label :matrix_id %><br />
    <%= f.number_field :matrix_id %>
  </div>
  <div class="field">
    <%= f.label :origin_created_time %><br />
    <%= f.datetime_select :origin_created_time %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :feed_type %><br />
    <%= f.text_field :feed_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
