<h1>Listing feeds</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Photo url</th>
    <th>Company</th>
    <th>Url</th>
    <th>Shares</th>
    <th>Likes</th>
    <th>Matrix</th>
    <th>Origin created time</th>
    <th>Content</th>
    <th>Feed type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.title %></td>
    <td><%= feed.photo_url %></td>
    <td><%= feed.company_id %></td>
    <td><%= feed.url %></td>
    <td><%= feed.shares %></td>
    <td><%= feed.likes %></td>
    <td><%= feed.matrices.map(&:name).join(', ') %></td>
    <td><%= feed.origin_created_time %></td>
    <td><%= feed.content %></td>
    <td><%= feed.feed_type %></td>
    <td><%= link_to 'Show', feed %></td>
    <% if can? :update, feed%>
    	<td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <% end %>
    <% if can? :destroy, feed%>
    	<td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed', new_feed_path %>
