<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>
  <b>Photo url:</b>
  <%= @feed.photo_url %>
</p>

<p>
  <b>Company:</b>
  <%= @feed.company_id %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
  <b>Shares:</b>
  <%= @feed.shares %>
</p>

<p>
  <b>Likes:</b>
  <%= @feed.likes %>
</p>

<p>
  <b>Matrix:</b>
  <%= @feed.matrices.map(&:name).join(', ') %>
</p>

<p>
  <b>Origin created time:</b>
  <%= @feed.origin_created_time %>
</p>

<p>
  <b>Content:</b>
  <%= @feed.content %>
</p>

<p>
  <b>Feed type:</b>
  <%= @feed.feed_type %>
</p>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
