<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<header>
				<h4><i class="icon-table"></i> <%= @matrix.name %></h4>
			</header>
			<div class="body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Company Name</th>
							<th>Competences</th>
							<th>Industries</th>
							<th>Country</th>
						</tr>
					</thead>
					<tbody>
						<% if @matrix.companies.any? %>
							<% @companies.each do |company| %>
								<tr>
									<td><%= company.name %></td>
									<td><%= company.industries.map(&:name).join(", ") %></td>
									<td><%= company.competences.map(&:name).join(", ") %></td>
									<td><%= company.country %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<blockquote><%= @matrix.description %></blockquote>
				
				<div>
					<!-- 
					<%= link_to new_competence_path, {:class => "btn btn-inverse", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#create_competence_modal" } do %>
						<i class="icon-plus"></i> Add new
					<% end %>
					-->
					
					<%= link_to edit_matrix_path(@matrix), {:class => "btn btn-inverse"} do %>
						<i class="icon-plus"></i> Edit
					<% end %>
					
					<% if can? :read, @matrix%>
						<%= link_to "Export to .xlsx", matrix_path(format: 'xlsx'), {:class => "btn btn-inverse"} %>
					<% end %>
					
					<% if current_user == @matrix.user%>
						<button class="btn btn-inverse" data-toggle="dropdown">Share<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<% User.all.each do |user| %>	
								<% next if current_user==user %> 
								<% unless @matrix.followed_by?(user)%>
									<li><a href=<%=add_follower_matrix_path(:id => @matrix.id, :follower_id => user.id)%>><%= user.email%></a></li>
								<% end %>
							<% end %>
						</ul>
					<% end %>
					
					<!-- 
					<%= link_to new_competence_import_path, {:class => "btn btn-inverse", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#import_competences_modal"} do %>
						<i class="icon-exchange"></i> Import
					<% end %>
					-->
        </div>
				
			</div>
		</section>
	</div>
</div>
