<h1><%= @matrix.name %></h1>

<% if @matrix.companies.any? %>
<div class="row-fluid">
	<% @matrix.companies.each do |company| -%>
		<div class="box span6 <%= cycle('noMarginLeft', '') -%>" ontablet="span6" ondesktop="span6">
			<div class="box-content">
				<ul class="dashboard-list">
					<li>
						<%= link_to company, :class => "logo" do %>
						  <img class="avatar" src="<%= company.logo_url -%>">
						<% end %>
						<strong><%= company.name -%></strong> <br>
						<strong><%= company.industries.map(&:name).join(", ") -%></strong> <br>
						<strong><%= company.competences.map(&:name).join(", ") -%></strong> <br> 
						<p><%= company.description -%></p>
					</li>
				</ul>
			</div>
		</div>
	<% end %>
</div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @matrix.description %>
</p>

<%= link_to 'Edit', edit_matrix_path(@matrix) %>|
<%= link_to 'Back', matrices_path %>

<div class="span8">
    <% if @matrix.feeds.any? %>
      <h3>Feeds (<%= @matrix.feeds.count %>)</h3>
      <ol class="feeds">
      	<%= render @feeds %>
      </ol>
    <% end %>
</div>