<%= link_to "Export to .xlsx", matrix_path(format: 'xlsx'), {:class => "btn btn-small", :style => "float:right;margin-top:10px"} %>

<%= link_to edit_matrix_path(@matrix) , {:class => "btn btn-small", :style => "float:right;margin-top:10px"} do %>
	<i class="icon-edit"></i> Edit
<% end %>
<h1><%= @matrix.name %></h1>
<p><%= @matrix.description %></p>
<hr>


<% if @matrix.companies.any? %>
<div class="row-fluid">
	<% @matrix.companies.each do |company| -%>
		<div class="box span6 <%= cycle('noMarginLeft', '') -%>" ontablet="span6" ondesktop="span6">
			<div class="box-content">
				<ul class="dashboard-list">
					<li>
						<%= link_to company, :class => "logo" do %>
						  <img class="avatar" src="<%= company.logo_url -%>">
						<% end %>
						<strong><%= company.name -%></strong> <br>
						<strong>Industry: </strong><%= company.industries.map(&:name).join(", ") -%><br>
						<strong>Competence: </strong><%= company.competences.map(&:name).join(", ") -%><br> 
						<p><%= company.description -%></p>
					</li>
				</ul>
			</div>
		</div>
	<% end %>
</div>
<% end %>

<p id="notice"><%= notice %></p>



<% if @matrix.feeds.any? %>
<div class="masonry_feed" class="clearfix fluid">
	<% @matrix.feeds.each do |feed| -%>
		<div class="box">
			<h2><%= link_to feed.title, feed.url %></h2>
			<div><%= feed.content %></div>
		  <span class="timestamp">
		    Posted <%= time_ago_in_words(feed.origin_created_time) %> ago.
		  </span>
	  </div>
	<% end %>
</div>
<% end %>

