<h1><%= @matrix.name %></h1>

<% if @matrix.companies.any? %>
<div class="row-fluid">
	<% @matrix.companies.each do |company| -%>
		<div class="box span6 <%= cycle('noMarginLeft', '') -%>" ontablet="span6" ondesktop="span6">
			<div class="box-content">
				<ul class="dashboard-list">
					<li>
						<%= link_to company, :class => "logo" do %>
						  <img class="avatar" src="<%= company.logo_url -%>">
						<% end %>
						<strong><%= company.name -%></strong> <br>
						<strong>Industry: </strong><%= company.industries.map(&:name).join(", ") -%><br>
						<strong>Competence: </strong><%= company.competences.map(&:name).join(", ") -%><br> 
						<p><%= company.description -%></p>
					</li>
				</ul>
			</div>
		</div>
	<% end %>
</div>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @matrix.description %>
</p>

<%= link_to 'Edit', edit_matrix_path(@matrix) %>|
<%= link_to 'Back', matrices_path %>

<% if @matrix.feeds.any? %>
<div class="masonry_feed" class="clearfix fluid">
	<% @matrix.feeds.each do |feed| -%>
		<div class="box span4">
			<h2><%= link_to feed.title, feed.url %></h2>
			<div><%= feed.content %></div>
		  <span class="timestamp">
		    Posted <%= time_ago_in_words(feed.origin_created_time) %> ago.
		  </span>
	  </div>
	<% end %>
</div>
<% end %>
