<div class="row-fluid masonry_feed">
	<div class="span12 body">
		<ul class="thumbnails">	
			<% @feeds.sort_by(&:origin_created_time).reverse.each do |feed| -%>
		    	<li class="span4">
	                <div class="thumbnail">
		        		<img src="<%= feed.photo_url -%>" alt="">
		        		<div class="caption">
		                    <h4 class="no-margin"><%= link_to feed.title , feed.url%></h4>
		                    <p><%= feed.content%></p>
		                    <i class=" icon-thumbs-up"></i> <%= feed.likes %> | <i class=" icon-share"></i>  <%=feed.shares%> | <%= time_ago_in_words(feed.origin_created_time) %> ago.
		                </div>
	             	</div>
				</li>
			
			<% end %>
		</ul>
	</div>
</div>
