<div class="row-fluid">
	<div class="row-fluid masonry_feed">
			<% @feeds.sort_by(&:origin_created_time).reverse.each do |feed| -%>
			  <div class="span6 box">
			    <div class="body">
			        <div class="row-fluid">
			        	
			            <div class="span4">
			                <div class="text-align-center">
			                    <img src="<%= feed.photo_url -%>">
			                </div>
			            </div>
			            <div class="span8">
			                <h3 class="no-margin"><%= link_to feed.title , feed.url%></h3>
											<p><%= feed.content%></p>
											<span class="timestamp">
										    	Likes <%= feed.likes %> | Shares <%=feed.shares%> | <%= time_ago_in_words(feed.origin_created_time) %> ago.
										  		</span>
			            </div>
			        </div>
			    </div>
			  </div>
			<% end %>
		</div>
</div>