<%= form_for (@industry), :html => {:class => "form-horizontal"} do |f| %>
	<% if @industry.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@industry.errors.count, "error") %> prohibited this industry from being saved:</h2>
		<ul>
		<% @industry.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<fieldset>
		<div class="control-group">
			<%= f.label :name, {:class => "control-label"} %>
			<div class="controls">
				<%= f.text_field :name, {:class => "input-xlarge focused"} %>
			</div>
		</div>
		
		<div class="control-group">
			<%= f.label :description, {:class => "control-label"} %>
			<div class="controls">
				<%= f.text_area :description, {:class => "input-xlarge"} %>
			</div>
		</div>
		
		<div class="form-actions">
			<%= f.submit "Save  changes", :class => "btn btn-primary" %>
			<%= link_to 'Cancel', industries_path, :class => "btn" %>
		</div>
	
	</fieldset>
	
<% end %>
