<div id="create_company_modal", class="modal hide fade">
	<%= form_for (@company), :html => {:class => "form-horizontal"} do |f| %>
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4>New Company</h4>
  </div>

  <div class="modal-body">
		<div id="wizard" class="form-wizard">
			<ul class="row-fluid wizard-navigation">
				<li class="span3"><a class="" href="#tab1" data-toggle="tab">Basic Information</a></li>
				<li class="span3"><a class="" href="#tab2" data-toggle="tab">Industries / Competences</a></li>
				<li class="span3"><a class="" href="#tab3" data-toggle="tab">Social Media Information</a></li>
				<li class="span3"><a class="" href="#tab4" data-toggle="tab">Matrices Information</a></li>
			</ul>
			<div id="bar" class="progress progress-inverse progress-small">
				<div class="bar"></div>
			</div>
			<div class="tab-content">
				<div class="tab-pane" id="tab1">
					<fieldset>
						<div class="control-group">
							<%= f.label :name, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :name, {:class => "input-xlarge focused"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :description, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_area :description, {:class => "input-xlarge"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :website, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :website, {:class => "input-xlarge"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :email, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :email, {:class => "input-xlarge"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :phone, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :phone, {:class => "input-xlarge"} %>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="tab-pane" id="tab2">
					<fieldset>
						<div class="control-group">
							<%= f.label :"Competences", {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :competence_tokens, data: {load: @company.competences} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :"Industry", {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :industry_tokens, data: {load: @company.industries} %>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="tab-pane" id="tab3">
					<fieldset>
						<div class="control-group">
							<%= f.label :facebook_id, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :facebook_id, {:class => "input-xlarge"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :linkedin_id, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :linkedin_id, {:class => "input-xlarge"} %>
							</div>
						</div>

						<div class="control-group">
							<%= f.label :twitter_id, {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :twitter_id, {:class => "input-xlarge"} %>
							</div>
						</div>

					</fieldset>
				</div>
				<div class="tab-pane" id="tab4">
					<fieldset>
						<div class="control-group">
							<%= f.label :"Matrix", {:class => "control-label"} %>
							<div class="controls">
								<%= f.text_field :matrix_tokens, data: {load: @company.matrices} %>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- 
				<div class="description">
					<ul class="pager wizard">
						<li class="previous">
							<button class="btn btn-primary pull-left"><i class="icon-caret-left"></i> Previous</button>
						</li>
						<li class="next">
							<button class="btn btn-primary pull-right" >Next <i class="icon-caret-right"></i></button>
						</li>
						<li class="finish" style="display: none">
							<button class="btn btn-success pull-right" >Finish <i class="icon-ok"></i></button>
						</li>
					</ul>
				</div>
				-->
			</div>
		</div>
		
		
		
  </div>

	<div class="modal-footer">
		<%= link_to 'Cancel', companies_path, {:class => "btn", "data-dismiss" => "modal", "aria-hidden" => "true"} %>
		<%= f.submit "Save  changes", :class => "btn btn-primary" %>
	</div>
	
	<% end %> 
</div>
