<div id="create_company_modal", class="modal hide fade">
	<%= form_for (@company), :html => {:class => "form-horizontal"} do |f| %>
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4>New Company</h4>
  </div>

  <div class="modal-body">
	<!-- 
		<div id="wizard" class="form-wizard">
			<ul class="row-fluid wizard-navigation">
				<li class="span3"><a class="" href="#tab1" data-toggle="tab"><small>1.</small><strong> Your Details</strong></a></li>
				<li class="span3"><a class="" href="#tab2" data-toggle="tab"><small>2.</small> <strong>Shipping</strong></a></li>
				<li class="span3"><a class="" href="#tab3" data-toggle="tab"><small>3.</small> <strong>Pay</strong></a></li>
				<li class="span3"><a class="" href="#tab4" data-toggle="tab"><small>4.</small> <strong>Thank you!</strong></a></li>
			</ul>
			<div id="bar" class="progress progress-inverse progress-small">
				<div class="bar"></div>
			</div>
			<div class="tab-content">
				<div class="tab-pane" id="tab1"></div>
				<div class="tab-pane" id="tab2"></div>
				<div class="tab-pane" id="tab3"></div>
				<div class="tab-pane" id="tab4">
					<h2>Thank you!</h2>
					<p>Your submission has been received.</p>
				</div>
				<div class="description">
					<ul class="pager wizard">
						<li class="previous">
							<button class="btn btn-primary pull-left"><i class="icon-caret-left"></i> Previous</button>
						</li>
						<li class="next">
							<button class="btn btn-primary pull-right" >Next <i class="icon-caret-right"></i></button>
						</li>
						<li class="finish" style="display: none">
							<button class="btn btn-success pull-right" >Finish <i class="icon-ok"></i></button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		-->
		<fieldset>
			<div class="control-group">
				<%= f.label :name, {:class => "control-label"} %>
				<div class="controls">
					<%= f.text_field :name, {:class => "input-xlarge focused"} %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :description, {:class => "control-label"} %>
				<div class="controls">
					<%= f.text_area :description, {:class => "input-xlarge"} %>
				</div>
			</div>

		</fieldset>
		
  </div>

	<div class="modal-footer">
		<%= link_to 'Cancel', companies_path, {:class => "btn", "data-dismiss" => "modal", "aria-hidden" => "true"} %>
		<%= f.submit "Save  changes", :class => "btn btn-primary" %>
	</div>
	
	<% end %> 
</div>
