<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<header>
				<h4><i class="icon-file-alt"></i> Company</h4>
			</header>
			<div class="body">
				<table id="companies_datatable" class="table table-striped" data-source="<%= companies_url(format: "js") %>">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>Industry</th>
              <th>Competences</th>
							<th>City</th>
							<th>Action</th>
						</tr>
					</thead>
				</table>

				<div>
					<%= link_to new_company_path, {:class => "btn btn-warning", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#create_company_modal" } do %>
						<i class="icon-plus"></i> Add new
					<% end %>
					
					<%= link_to new_company_import_path, {:class => "btn btn-inverse", remote: true, "data-backdrop" => "false", "data-toggle" => "modal", "data-target" => "#import_companies_modal"} do %>
						<i class="icon-exchange"></i> Import
					<% end %>
					
					<%= render("modal_form") %>
					<%= render("import_modal_form") %>

        </div>
				
			</div>
		</section>
	</div>
</div>