<ul class="nav nav-tabs" id="myTab" style="display:none">
	<% if !@companies.empty? %>
	<li><a href="#exist_from_db">exist_from_db</a></li>
	<% end %>
	
	<% if @linkedin_companies %>
	<li><a href="#exist_from_linkedin">exist_from_linkedin</a></li>
	<% end %>
	
	<li><a href="#new">new</a></li>
</ul>
 
<div class="tab-content">
	<% if !@companies.empty? %>
	<div class="tab-pane active" id="exist_from_db">
		<div>We found similar company in our database. Do you mean this?</div>
		<% @companies.each do |company| -%>
			<div class="box span6 <%= cycle('noMarginLeft', '') -%>" ontablet="span6" ondesktop="span6">
				<div class="box-content">
					<ul class="dashboard-list">
						<li>
							<%= link_to company, :class => "logo" do %>
							  <img class="avatar" src="<%= company.logo_url -%>">
							<% end %>
							<strong><%= company.name -%></strong> <br>
							<strong>Industry: </strong><%= company.industries.map(&:name).join(", ") -%><br>
							<strong>Competence: </strong><%= company.competences.map(&:name).join(", ") -%><br> 
							<p><%= company.description -%></p>
						</li>
					</ul>
				</div>
			</div>
		<% end %>
		<button onclick="$('a[href=#exist_from_linkedin]').tab('show');">No. I want to create new company</button> 
	</div>
	<% end %>
	
	<% if @linkedin_companies %>
	<div class="tab-pane" id="exist_from_linkedin">
		<div class="row-fluid">
			<div>We found some similar companies in Linkedin. Do you mean this</div>
			<% @linkedin_companies.each do |company| -%>
				<ul class="dashboard-list" style="margin-bottom:10px">
					<li>
						<% if company.logo_url %>
						<img class="avatar" src="<%= company.logo_url -%>">
						<% end %>
						
						<strong><%= company.name -%></strong> <br>

						<% if company.industries %>
						<strong>Industry: </strong><%= company.industries.all.map(&:name).join(", ") %><br> 
						<% end %>

						<% if company.specialties %>
						<strong>Competence: </strong><%= company.specialties.all.join(", ") %><br> 
						<% end %>

						<% if company.locations %>
						<strong>Location: </strong><%= company.locations.all.map(&:address).map(&:city).uniq.join(", ") %><br> 
						<% end %>
						<button class="btn">Create this company</button>
					</li>
				</ul>
			<% end %>
		</div>
		<button class="btn btn-success" onclick="$('a[href=#new]').tab('show');" style="float:right">No. I want to create new company</button> 
	</div>
	<% end %>
	
	<div class="tab-pane" id="new">
		<%= render 'form2' %>
	</div>
</div>



