<% if @linkedin_companies %>
<div class="tab-pane" id="exist_from_linkedin">
	
	<div>We found some similar companies in Linkedin. Do you mean this</div>
	
	<div class="row-fluid masonry_feed">
		<% @linkedin_companies.each_with_index do |company, index| %>
	  <div class="span4 box">
	    <div class="body">
	        <div class="row-fluid">
	            <div class="span4">
	                <div class="text-align-center">
											<% if company.logo_url %>
	                    <img src="<%= company.logo_url -%>">
											<% end %>
	                </div>
	            </div>
	            <div class="span8">
	                <h3 class="no-margin"><%= company.name -%></h3>
									<p>
									<% if company.industries %>
									<strong>Industry: </strong><%= company.industries.all.map(&:name).join(", ") %><br> 
									<% end %>

									<% if company.specialties %>
									<strong>Competence: </strong><%= company.specialties.all.join(", ") %><br> 
									<% end %>

									<% if company.locations %>
									<strong>Location: </strong><%= company.locations.all.map(&:address).map(&:city).uniq.join(", ") %><br> 
									<% end %>
									</p>
	            </div>
	        </div>
	    		<button class="btn btn-success"><i class="icon-file-text"></i> Add this</button> 
			</div>
	  </div>
		<% end %>
	</div>
	
	<button class="btn btn-success btn-large" onclick="$('a[href=#new]').tab('show');"><i class="icon-file-text"></i> No. I want to create new company</button> 

</div>
<% end %>