<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>City:</b>
  <%= @company.city %>
</p>

<p>
  <b>Country:</b>
  <%= @company.country %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Postcode:</b>
  <%= @company.postcode %>
</p>

<p>
  <b>Website:</b>
  <%= @company.website %>
</p>

<p>
  <b>Facebook:</b>
  <%= @company.facebook_id %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @company.linkedin_id %>
</p>

<p>
  <b>Twitter:</b>
  <%= @company.twitter_id %>
</p>

<% if can? :update, @company%>
	<%= link_to 'Edit', edit_company_path(@company) %>
 <% end %>
<%= link_to 'Back', companies_path %>
