<div class="row-fluid">
	<div class="box span12">
		<div class="box-header">
			<h2><i class="icon-briefcase"></i><span class="break"></span><%= @company.name %></h2>
		</div>
		
		<div class="box-content">
			<ul id="myTab" class="nav tab-menu nav-tabs">
				<li class=""><a href="#about">About</a></li>
				<li class=""><a href="#feed">Feed</a></li>
			</ul>
			 
			<div class="tab-content" id="myTabContent">
				<div id="about" class="tab-pane">
					<p><b>Name: </b><%= @company.name %></p>
					<p><b>Description: </b><%= @company.description %></p>
					<p><b>Address: </b><%= @company.address %></p>
					<p><b>City: </b><%= @company.city %></p>
					<p><b>Country: </b><%= @company.country %></p>
					<p><b>Email: </b><%= @company.email %></p>
					<p><b>Phone: </b><%= @company.phone %></p>
					<p><b>Postcode: </b><%= @company.postcode %></p>
					<p><b>Website: </b><%= @company.website %></p>
					<p><b>Facebook: </b><%= @company.facebook_id %></p>
					<p><b>Linkedin: </b><%= @company.linkedin_id %></p>
					<p><b>Industry: </b><%= @company.industries.map(&:name).join(", ") %></p>
					<p><b>Competence: </b><%= @company.competences.map(&:name).join(", ") %></p>
				</div>
				
				<div id="feed" class="tab-pane">
					<% if @company.feeds.any? %>
			      <h3>Feeds (<%= @company.feeds.count %>)</h3>
			      <ol class="feeds">
			      	<%= render @feeds %>
			      </ol>
			    <% end %>
				</div>

			</div>
		</div>
	</div><!--/span-->
			
</div>


<p id="notice"><%= notice %></p>



<% if can? :update, @company%>
	<%= link_to 'Edit', edit_company_path(@company) %>|
 <% end %>
<%= link_to 'Back', companies_path %>

