<div class="row-fluid">
	<div class="span12">
		<section class="widget">
			<header>
				<h4><i class="icon-file-alt"></i> Competence</h4>
			</header>
			<div class="body">
				<blockquote>
					Column sorting, live search, pagination. Built with
					<a href="http://www.datatables.net/" target="_blank">jQuery DataTables</a>
				</blockquote>
				<table id="datatable-table" class="table table-striped">
					<thead>
						<tr>
							<th class="no-sort">Id</th>
							<th>Name</th>
							<th class="no-sort">Description</th>
							<th class="no-sort">Info</th>
						</tr>
					</thead>
					<tbody>
						<% @competences.each do |competence| %>
							<% if can? :read, competence%>
								<tr>
									<td class="hidden-phone-portrait"><%= competence.id %></td>
		              <td><%= link_to competence.name, competence %></td>
		              <td><%= competence.description %></td>
									<td>
										<% if can? :update, competence%>
											<%= link_to edit_competence_path(competence), :class => "btn btn-small btn-primary" do %>
												<i class="icon-edit"></i> Edit
											<% end %>
											<%= link_to competence, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" do %>
											<i class="icon-trash"></i> Delete
											<% end %>
										<% end %>
									</td>
								</tr>
							<% end %>
						<% end %>
						
					</tbody>
				</table>

				<div>
            <%= link_to new_competence_path, {:class => "btn btn-warning", remote: true, "data-toggle" => "modal", "data-target" => "#create_competence_modal" } do %>
							<i class="icon-plus"></i> Add new
						<% end %>
						
						<% if can? :manage, :all %>
						<%= link_to new_competence_import_path, {:class => "btn btn-inverse"} do %>
							<i class="icon-exchange"></i> Import
						<% end %>
						<% end %>
						<%= render("ajax_form") %>
        </div>
				
			</div>
		</section>
	</div>
</div>
