<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="/"><span>TopCompetitors</span></a>
							
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<li class="dropdown hidden-phone">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-warning-sign"></i></a>
						
						<ul class="dropdown-menu notifications">
							<li><span class="dropdown-menu-title">You have 11 notifications</span></li>	
							<li><a href="#">+ <i class="icon-user"></i> <span class="message">New user registration</span> <span class="time">1 min</span></a></li>
							<li><a class="dropdown-menu-sub-footer">View all notifications</a></li>	
						</ul>
					</li>
					
					<!-- start: Notifications Dropdown -->
					<li class="dropdown hidden-phone">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-tasks"></i></a>
						<ul class="dropdown-menu tasks">
							<li><span class="dropdown-menu-title">You have 17 tasks in progress</span></li>
							<li>
								<a href="#">
									<span class="header">
										<span class="title">iOS Development</span>
										<span class="percent"></span>
									</span>
									<div class="taskProgress progressSlim progressBlue">80</div> 
								</a>
							<li><a class="dropdown-menu-sub-footer">View all tasks</a></li>	
						</ul>
					</li>
					
					<!-- end: Notifications Dropdown -->
					<!-- start: Message Dropdown -->
					<li class="dropdown hidden-phone">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-envelope"></i></a>
						<ul class="dropdown-menu messages">
							<li><span class="dropdown-menu-title">You have 9 messages</span></li>	
							<li>
								<a href="#">
									<span class="avatar"><img src="./img/avatar.jpg" alt="Avatar" /></span>
									<span class="header">
										<span class="from">Łukasz Holeczek</span>
										<span class="time">6 min</span>
									</span>
									<span class="message">Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore</span>  
								</a>
							</li>
							<li><a class="dropdown-menu-sub-footer">View all messages</a></li>	
						</ul>
					</li>
					<!-- end: Message Dropdown -->
					<li>
						<a class="btn" href="#">
							<i class="icon-wrench"></i>
						</a>
					</li>
					
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i> <%= current_user.email %><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
							<%= link_to edit_user_registration_path do %>
								<i class="icon-user"></i> Profile
							<% end %>
							</li>
							
							<li>
							<%= link_to destroy_user_session_path, method: "delete" do %>
								<i class="icon-off"></i> Logout
							<% end %>
							</li>
							
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
			
		</div>
	</div>
</div>

<!-- 

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TopCompetitors", "#", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "Help", "#" %></li>          
          <% if user_signed_in? %>
          	<% if can? :manage, :all %>
            	<li><%= link_to "Users", "#" %></li>
            <% end %>
            <li><%= link_to "Profile", "#" %></li>
            <li><%= link_to "Settings", edit_user_registration_path %></li>
            <li><%= link_to "Create Company", new_company_path %></li>
            <li><%= link_to "Companies", companies_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %><li>
          <% else %>
           <li><%= link_to "Sign in", new_user_session_path  %></li>
           <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
-->