<!-- start: Main Menu -->
<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<!-- 
			<li class="active"><a href="./index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
			-->
			
			<li>
			<%= link_to dashboard_path do %>
				<i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span>
			<% end %>
			</li>
			
			<li>
			<%= link_to companies_path do %>
				<i class="icon-briefcase"></i><span class="hidden-tablet"> Company</span>
			<% end %>
			</li>
			
			<li>
			<%= link_to matrices_path do %>
				<i class="icon-sitemap"></i><span class="hidden-tablet"> Matrix</span>
			<% end %>
			</li>
			
			<li>
			<%= link_to industries_path do %>
				<i class="icon-plus"></i><span class="hidden-tablet"> Industry</span>
			<% end %>
			</li>
			
			<li>
			<%= link_to competences_path do %>
				<i class="icon-globe"></i><span class="hidden-tablet"> Competence</span>
			<% end %>
			</li>
			
			<li>
			<%= link_to feeds_path do %>
				<i class="icon-bullhorn"></i><span class="hidden-tablet"> Feed</span>
			<% end %>
			</li>
			
		</ul>
	</div>
</div>
<!-- end: Main Menu -->

<noscript>
	<div class="alert alert-block span11">
		<h4 class="alert-heading">Warning!</h4>
		<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
	</div>
</noscript>