<!DOCTYPE html>
<html>
<head>
  <title>Tcp</title>
	<%= csrf_meta_tags %>
	
	<!-- start: CSS -->
	<%= stylesheet_link_tag "application", :media => "all" %>
</head>
	
<body class="<%= controller_name -%> <%= action_name -%>"> 
	
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<%= render 'layouts/header' %>

	<%= yield %>

	<%= javascript_include_tag "application" %>
</body>
</html>
